In [12]:
import pandas as pd
from pandas import Series, DataFrame

In [29]:
# 실습 데이터 적재
data = pd.read_excel('data/인구수예제.xlsx')
data.head()

   도시  자치구    연도  남자인구  여자인구  총인구
0  서울  강남구  2016    61    70  131
1  서울  강남구  2017   119   116  235
2  서울  강남구  2018   134   141  275
3  서울  강남구  2019   119   116  235
4  서울  강남구  2020   115   144  259

In [1]:
# 실습 1. 연도별 총인구수 구하기

In [2]:
# 실습 2. 연도별 전체의 남자인구, 여자인구, 총인구 수 구하기

In [3]:
# 실습 3. 자치구별로 평균 총인구수 구하기

In [4]:
# 실습 4.도시/자치구별 평균 총인구수 구하기

In [36]:
# 실습 5. 도시/자치구별 평균 남자인구와 여자인구수 구하기

In [5]:
# 실습 6. 도시별, 연도별로 총인구수 출력

<img src="img/8강/그룹분석_pivottable.jpg" alt="그룹분석_groupby" style="width: 800px;"/>

In [6]:
# 실습 7. 자치구 별로 남자인구의 평균을 구한 후, 남자 인구가 가장 많은 도시 및 자치구 Top 5 찾기

In [7]:
# 실습 8. 여자가 남자보다 많은 도시/자치구 상위 3개 찾기