In [11]:
import pandas as pd
from pandas import Series, DataFrame

# 1. 시계열 데이터 기초

## 1.1 시계열 데이터 타입(datetime)

## 1.2 timedelta 를 활용한 시간 계산

## 1.3 시계열 데이터 처리

In [1]:
import random
sample = DataFrame()
sample['date'] = pd.date_range(start = '20210101', periods=500).tolist()
sample['count'] = random.sample(range(1,1000), 500)

NameError: name 'DataFrame' is not defined

In [13]:
# 7월달 데이터만 조회 #1 
# 조건 색인 활용

In [14]:
# 7월달 데이터만 조회 #2
# isin() 함수 활용

In [15]:
# 7월달 데이터마 조회 #3
# datetimeIndex 활용

- datetimeIndex 색인

In [16]:
# 2021년 데이터 선택

In [17]:
# 2021년 3월 2일부터 2021년 3월 28일까지 데이터 선택

In [18]:
# 2021년 4월 28일 데이터 선택

## 1-4 strptime()으로 문자열을 날짜 타입으로 변환하기

In [19]:
문자열 = '21/08/11'

In [20]:
# 21년 8월 11일로 변환

In [21]:
# 11년 8월 21일로 변환

In [22]:
# 8월 11일 21시로 변환

##### [실습] 아래 df에서 2020년 7월 데이터만 선택하기

In [23]:
df = DataFrame({'date':['2020-07-01','2020-07-02', '2020-07-05', '2020-07-10', '2020-07-23', 
                        '2020-07-24','2020-07-28', '2020-08-05', '2020-08-10', '2020-08-23'],
                'value':random.sample(range(1, 100), 10)
})
df

         date  value
0  2020-07-01     58
1  2020-07-02     85
2  2020-07-05      9
3  2020-07-10     45
4  2020-07-23     20
5  2020-07-24     96
6  2020-07-28     68
7  2020-08-05     89
8  2020-08-10     98
9  2020-08-23     29

In [ ]:
# 위에서 배운대로 해도 정상적으로 동작하지 않음

In [70]:
# 해결책. df의 date컬럼의 타입을 datetime으로 변환

In [24]:
# 7월 데이터만 조회

## 1.5 strftime()으로 날짜 타입의 변수를 문자열로 변환하기

In [25]:
# now 변수를 4자리년도-월-일 형식으로 출력

In [26]:
# 실습 - now 변수를 월-일 시:분 형식으로 출력

* Tip. Week와 요일 정보 얻기(strftime)

In [133]:
# 심화 - Week와 요일 정보 얻기
# 참고 사이트 : https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

# %U : week number (sunday to monday) (e.g. 00, 01, ...53)
# %V : ISO 8601 week number (monday to sunday) (e.g. 01, 02, ... 53)
...
# %a : weekday (Sun, Mon, ..) 
# %w : weekday (0,1,2,3,...) (0 = Sunday)

Ellipsis

##### [실습 #2] df에  week number(%U), weekday(%a) 컬럼 추가

In [27]:
#df에  week number(%V), weekday(%w) 컬럼 추가

##### [실습 #3-1] 주차별 value 컬럼의 합 구하기

##### [실습 #3-2] 요일별 value 컬럼의 평균 구하기

## 2. 시계열 데이터 응용 - Covid-19 현황 분석

#### 1. Covid-19 데이터 가져오기
- https://github.com/owid/covid-19-data/tree/master/public/data : 매일 업데이트된 파일을 제공함

##### 2. date 컬럼을 datetime으로 변경하기

#### 3. 간단하게 분석하기 위해 데이터 범위 좁히기
- United States, Brazil, France, South Korea 데이터만 선택

- location, date, total_cases, new_cases 컬럼만 선택

#### 4. 데이터 분석 실습
- [실습 #1] 각 나라별로 월별 누적 확진자수의 합 구하기
- [실습 #2] 각 나라별로 요일별 신규 확진자수의 합 구하기
- [실습 #3] 각 나라별로 분기별 신규 확진자수의 합 구하기
...

##### 년도(year), 달(month), 일(day), 주차(WeekNumber, %U)과 요일(weekDay, %a), 분기(quarter) 컬럼 추가하기

- [실습 #1] 각 나라별로 월별 누적 확진자수의 합 구하기
 - 월별 마지막 날 기준으로 누적 확진자수 구하기
 - https://pandas.pydata.org/pandas-docs/stable/timeseries.html#timeseries-offset-aliases 참고

- [실습 #2] 각 나라별로 요일별 신규 확진자수의 합 구하기

- [실습 #3] 각 나라별로 분기별 신규 확진자수의 합 구하기